# Base URL for the application under test
BASE_URL=https://www.saucedemo.com

# Standard User Credentials
STANDARD_USER_USERNAME=standard_user
STANDARD_USER_PASSWORD=secret_sauce

# Locked Out User Credentials
LOCKED_OUT_USER_USERNAME=locked_out_user
LOCKED_OUT_USER_PASSWORD=secret_sauce
